# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Python packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Local env
.env
dev.db

# Alembic
alembic/versions/__pycache__/


